*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#fff;
color:#111;
line-height:1.6;
}

.hero img{
    border-radius: 20px;
    border: solid white;
    left: 800px;
    margin-top: 50px;
    position: relative;
}
.hero h1{
    position:relative;
    left: 400px;
    top: 200px;
}
.hero{
height:500px;
display:flex;
flex-direction:column;

background:#000;
color:#fff;
}

section{
max-width:1100px;
margin:auto;
padding:80px 20px;
}

h2{
margin-bottom:20px;
letter-spacing:1px;
border-bottom:2px solid #000;
display:inline-block;
padding-bottom:5px;
}

.skill{
margin-bottom:20px;
}

.bar{
height:10px;
background:#ddd;
border-radius:10px;
overflow:hidden;
}

.fill{
height:100%;
background:#000;
}

.w90{width:90%}
.w85{width:85%}
.w70{width:70%}
.w75{width:75%}
.w85{width:85%}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:#f7f7f7;
padding:30px;
border-radius:20px;
transition:0.3s;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.card:hover{
transform:translateY(-8px);
}
a{
    text-decoration: none;
    color: #000;
}

.stars{
font-size:18px;
margin-bottom:10px;
display:flex;
justify-content:space-between;
max-width:400px;
}

.contact p{
margin:10px 0;
font-size:18px;
}

footer{
text-align:center;
padding:20px;
background:#000;
color:#fff;
}

