*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#fff;
  color:#111;
  line-height:1.7;
}

/* HERO */
.hero{
  height:40vh;
  background:#000;
  color:#fff;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}
a{
    text-decoration: none;
    color: #000;
    
    
}


.hero h1{
  font-size:3rem;
  letter-spacing:2px;
}

.hero p{
  margin-top:10px;
  opacity:0.8;
}

/* SECTION */
section{
  max-width:1100px;
  margin:auto;
  padding:80px 20px;
}

h2{
  margin-bottom:25px;
  letter-spacing:1px;
  border-bottom:2px solid #000;
  display:inline-block;
  padding-bottom:5px;
}

/* CARD */
.project-card{
  background:#f7f7f7;
  padding:35px;
  border-radius:22px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
  margin-bottom:30px;
  transition:0.3s;
}

.project-card:hover{
  transform:translateY(-8px);
}

.project-card h3{
  margin-bottom:10px;
}

.project-card ul{
  margin-top:12px;
  padding-left:20px;
}

.project-card li{
  margin-bottom:8px;
}

/* FOOTER */
footer{
  text-align:center;
  padding:25px;
  background:#000;
  color:#fff;
}
