*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    display: flex;
}

.nav{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    width: 200px;
}
.navli{
    text-decoration: none;
    list-style-type:none;
    color:rgb(0, 0, 0);
    font-size: 25px;
    line-height: 2cm;    
}
.l1{
    color: orange;
    
}
.para{
    padding: 40px;
    font-size: 20px;
}
.para h1{
    font-size: 50px;
}
.mail a{
    text-decoration: none;
    color: orange;
}
.con{
    padding-top: 100px;
}
.con h4{
    padding-top: 50px;

}
.con ul{
    padding-left: 30px;
    padding-top: 30px;
    line-height: 2cm;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
}
li{
    padding-left: 40px;
}